.board {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
  cursor: pointer;
}
.weapon {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 5px orange;
}
